Repository SigvardHelsingen/feedapp-group13: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-pytest, local-biome-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: local-pytest
        name: pytest
        entry: /bin/sh -c 'cd backend/ && uv run pytest && cd -'
        language: system
        types: [text]
        files: "\\.(py|sql)$"
  - repo: local
    hooks:
      - id: local-biome-check
        name: biome check
        entry: /bin/sh -c 'cd frontend/ && pnpm lint && cd -'
        language: system
        types: [text]
        files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"

1: cookie.py - started on issue#3 - work in progress
  backend/.pre-commit-config.yaml
  backend/app/auth/cookie.py
Due: local-pytest

rbac schema
  backend/app/db/sqlc/auth.py
  backend/app/db/sqlc/models.py
  backend/db/migrations/20251103155856_create_rbac.sql
  backend/db/queries/auth.sql
Due: local-pytest

implement rbac with same perms that were implicit
  backend/app/db/sqlc/auth.py
  backend/app/db/sqlc/poll.py
  backend/app/routes/poll.py
  backend/app/routes/vote.py
  backend/db/queries/auth.sql
  backend/db/queries/poll.sql
  backend/tests/conftest.py
  backend/tests/integration/test_poll_workflow.py
  backend/tests/integration/test_vote_workflow.py
Due: local-pytest

2: cookie.py - issue#3 - work in progress
  backend/app/auth/cookie.py
Due: local-pytest

3: cookie.py - issue#3 - work in progress: changes to env., feelin insecure abt this
  backend/app/auth/cookie.py
Due: local-pytest

4: meddling in config (next: cookie.py) - issue#3 - work in progress: changes to env., feelin insecure abt this PT2
  backend/app/config.py
Due: local-pytest

4: meddling with cookie.py - issue#3 - work in progress: it compiles IT COMPILES!!! oh wait
  backend/app/auth/cookie.py
Due: local-pytest

5: meddling where i shouldnt: changes to cookie.py - issue#3 - work in progress: imporant date reminder (no like literally forgot to import dates... no valentines for you)
  backend/app/auth/cookie.py
Due: local-pytest

6:im too sleepy for this bs: changes to main.py and made auth_debug.py - issue#2 (i have more issues w this than just 2) - work in progress: remind me do get painkillers, donuts and a rubberduck
  backend/app/main.py
  backend/app/routes/auth_debug.py
  backend/cookies.txt
Due: local-pytest

frontend tweaks, ready for main-merge
  backend/tests/manual/load_test_vote_counting.py
Due: local-pytest

conftest.py: remove unused import
  backend/tests/conftest.py
Due: local-pytest

Add files via upload
  resources/icon/colors.less
  resources/icon/feedApp-icon-seethrough.ico
  resources/icon/feedApp-logo-seethrough.png
  resources/icon/feedapp-logo-color.png
Due: none

7: cleanup, removed dead code: changes to cookie.py - issue#2 (i have more issues w this than just 2) - work in progress: remind me do get a rubberduck
  backend/app/auth/cookie.py
  backend/cookies.txt
Due: local-pytest

7: cleanup, removed dead code: changes to cookie.py - issue#2 (i have more issues w this than just 2) - work in progress: remind me do get a rubberduck
  backend/app/auth/cookie.py
Due: local-pytest

Update to poll-route to support RBAC, frontend implementations
  backend/app/db/sqlc/poll.py
  backend/app/routes/poll.py
  backend/db/queries/poll.sql
  backend/tests/integration/test_poll_workflow.py
  backend/tests/integration/test_vote_workflow.py
  frontend/index.html
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/client/@tanstack/react-query.gen.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/client/zod.gen.ts
  frontend/src/components/Header.tsx
  frontend/src/logo.svg
  frontend/src/routes/_application/_authenticated/poll.$pollId.tsx
  frontend/src/routes/_application/index.tsx
  frontend/src/routes/signIn.tsx
Due: local-pytest, local-biome-check

Voting and processing votes over Kafka
  backend/Dockerfile
  backend/app/config.py
  backend/app/consume.py
  backend/app/db/db.py
  backend/app/db/kafka.py
  backend/app/db/sqlc/poll.py
  backend/app/db/valkey.py
  backend/app/main.py
  backend/app/routes/vote.py
  backend/db/queries/poll.sql
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/uv.lock
Due: local-pytest

SSE live vote count updates
  backend/README.md
  backend/app/config.py
  backend/app/consume.py
  backend/app/db/kafka.py
  backend/app/db/sqlc/auth.py
  backend/app/db/valkey.py
  backend/app/main.py
  backend/app/routes/vote.py
  backend/app/sse/__init__.py
  backend/app/sse/manager.py
  backend/app/utils/vote_counter.py
  backend/db/queries/auth.sql
  backend/pyproject.toml
  backend/uv.lock
Due: local-pytest

Subscribe to live vote updates on frontend
  backend/app/routes/vote.py
  frontend/src/client/@tanstack/react-query.gen.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/client/zod.gen.ts
  frontend/src/lib/pollVoteUpdates.ts
  frontend/src/routes/_application/_authenticated/poll.$pollId.tsx
Due: local-pytest, local-biome-check

8: cleanup, removed dead code, resolving issues - issue#2 - work in progress: "i have to come up with a solution all by myself to a problem i caused all by myself? not fair..."
  backend/.pre-commit-config.yaml
  backend/app/auth/cookie.py
  backend/app/config.py
  backend/app/main.py
  backend/app/routes/auth_debug.py
  backend/cookies.txt
Due: local-pytest

9: cleanup, resolving issues - issue#2 - work in progress: tests passed: ## PYTHONPATH=. uv run pytest -q ## [100%] 3 passed in 3.29s
  backend/README.md
  backend/app/auth/cookie.py
  backend/app/config.py
Due: local-pytest

Removes the burgermenu and fold-out menu, cleans up code
  frontend/biome.json
  frontend/src/components/Header.tsx
  frontend/src/routes/_application/_authenticated/poll.$pollId.tsx
  frontend/src/routes/_application/index.tsx
  frontend/src/routes/signIn.tsx
Due: local-biome-check

Redpanda vs Kafka in Azure experiment setup
  experiment/.gitignore
  experiment/README.md
  experiment/docker/coordinator-config/prometheus.yml
  experiment/docker/coordinator.yml
  experiment/docker/kafka-broker.yml
  experiment/docker/redpanda-broker.yml
  experiment/infra/.gitignore
  experiment/infra/.terraform.lock.hcl
  experiment/infra/cloud-init-broker.yaml
  experiment/infra/cloud-init-coordinator.yaml
  experiment/infra/main.tf
  experiment/infra/outputs.tf
  experiment/scripts/1-verify-provisioning.sh
  experiment/scripts/2-setup-hostnames.sh
  experiment/scripts/3-check-brokers.sh
  experiment/scripts/for-remote/.gitignore
  experiment/scripts/for-remote/ping-and-metrics.sh
Due: none

Minor corrections to Azure technical details
  experiment/README.md
  experiment/infra/main.tf
Due: none

Redpanda docker-compose as the first node
  experiment/docker/redpanda-broker.yml
Due: none

Add CI pipeline
  .github/workflows/build-docker.yml
Due: none

Fixes test-assertion error messages
  backend/tests/integration/test_poll_workflow.py
  backend/tests/integration/test_vote_workflow.py
Due: local-pytest
